.title {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  background: rgb(242, 176, 121);
}
  
.subtitle {
  font-family: "Times New Roman", Times;
  font-size: large;
  background:rgb(255, 199, 121);
}